data/
recovery_tools/photorec/recovered
/images
mnt
recovery_tools/sleuthkit/100mb
recovery_tools/sleuthkit/1gb
recovery_tools/sleuthkit/5gb
recovery_tools/scalpel/100mb
recovery_tools/scalpel/1gb
recovery_tools/scalpel/5gb
temp_fill
